<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}../../static/graph_style.css" /> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
<div class="navbar-container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <!--<div class="navbar-container"> -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AgConnect</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'landing' %}">Home</a></li>
            <li><a href="about.html">About</a></li>
            {% if request.session.access_token %}

                <li><a href="{% url 'agro:dash' %}"> First Farm </li></a>
                <li><a href="{% url 'agro:second' %}"> Second Farm </li></a>
                <li><a href="{% url 'agro:third' %}"> Third Farm </li></a>
            {% endif %}
            <li><a href="https://www.climate.com/">The Climate Corporation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>

<div class="container">
    
    <h1>{{name}}</h1>

    
    <div id="chart"></div>
    <script type="text/javascript">
//Matt if possible it would be dope if you could add a 4th box for the fourth data entry for each "month" (it is actually a year)
    
   
  function graphs(h, w, ii, jj, kk, ll, d) {

    var jsonData = d;

    var height = h - 20;
        width = w;

    var yMax0 = d3.max(jsonData.map(function(d) {
        return d.month[ii];
    }));

    var yScale0 = d3.scale.linear()
            .domain([0, yMax0])
            .range([0, height]);

    var yMax1 = d3.max(jsonData.map(function(d) {
        return d.month[jj];
    }));

    var yScale1 = d3.scale.linear()
            .domain([0, yMax1])
            .range([0, height]);

    var yMax2 = d3.max(jsonData.map(function(d) {
        return d.month[kk];
    }));

    var yScale2 = d3.scale.linear()
            .domain([0, yMax2])
            .range([0, height]);

    var yMax3 = d3.max(jsonData.map(function(d) {
        return d.month[ll];
    }));

    var yScale3 = d3.scale.linear()
            .domain([0, yMax3])
            .range([0, height]);


    var xScale = d3.scale.ordinal()
            .domain(d3.range(0, jsonData.length))
            .rangeBands([0, width]);

    var xoffset = xScale.rangeBand()/5;

    var xAxis = d3.svg.axis()
        .scale(xScale)
        .tickSize(0)
        .tickPadding(6)
        .orient("bottom");

    var tooltip = d3.select("body").append("div")
        .style("position", "absolute")
        .style("padding", "0 10px")
        .style("background", "white")
        .style("opacity", 0);

    var sampleSVG = d3.select("#chart")
        .append("svg")
        .attr("width", width)
        .attr("height", height+20);    

    sampleSVG.selectAll(".red.rect").data(jsonData)
        .enter().append("rect")
            .attr("class", "red rect")
            .style("stroke", "gray")
            .style("fill", "#FF7878")
            .attr("width", xScale.rangeBand()/5)
            .attr("height", function(d){
                return yScale0(d.month[ii]);
            })
            .attr("x", function(d,i){
                return xScale(i);
            })
            .attr("y", function(d){
                return height - yScale0(d.month[ii]);
            })
            .on("mouseover", function(d){
                tooltip.transition()
                    .style("opacity", .9);

                tooltip.html("Precipitation: " + d.month[ii])
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY) + "px");

                d3.select(this).style("fill", "red");
            })
            .on("mouseout", function(){
                d3.select(this).style("fill", "#FF7878");

                tooltip.transition()
                    .style("opacity", 0);
            });

    sampleSVG.selectAll(".orange.rect").data(jsonData)
        .enter().append("rect")
            .attr("class", "orange rect")
            .style("stroke", "gray")
            .style("fill", "#f0a150")
            .attr("width", xScale.rangeBand()/5)
            .attr("height", function(d){
                return yScale1(d.month[jj]);
            })
            .attr("x", function(d,i){
                return xScale(i) + xoffset;
            })
            .attr("y", function(d){
                return height - yScale1(d.month[jj]);
            })
            .on("mouseover", function(d){
                tooltip.transition()
                    .style("opacity", .9);

                tooltip.html("Temperature: " + d.month[jj])
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY) + "px");

                d3.select(this).style("fill", "orange");
            })
            .on("mouseout", function(){
                d3.select(this).style("fill", "#f0a150");

                tooltip.transition()
                    .style("opacity", 0);
            });

    sampleSVG.selectAll(".green.rect").data(jsonData)
        .enter().append("rect")
            .attr("class", "green rect")
            .style("stroke", "gray")
            .style("fill", "#89E894")
            .attr("width", xScale.rangeBand()/5)
            .attr("height", function(d){
                return yScale2(d.month[kk]);
            })
            .attr("x", function(d,i){
                return xScale(i) + 2*xoffset;
            })
            .attr("y", function(d){
                return height - yScale2(d.month[kk]);
            })
            .on("mouseover", function(d){
                tooltip.transition()
                    .style("opacity", .9);

                tooltip.html("Yield (Tons): " + d.month[kk])
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY) + "px");
                    
                d3.select(this).style("fill", "green");
            })
            .on("mouseout", function(){
                d3.select(this).style("fill", "#89E894");

                tooltip.transition()
                    .style("opacity", 0);
                });

    sampleSVG.selectAll(".blue.rect").data(jsonData)
        .enter().append("rect")
            .attr("class", "blue rect")
            .style("stroke", "gray")
            .style("fill", "#f0f8ff")
            .attr("width", xScale.rangeBand()/5)
            .attr("height", function(d){
                return yScale3(d.month[ll]);
            })
            .attr("x", function(d,i){
                return xScale(i) + 3*xoffset;
            })
            .attr("y", function(d){
                return height - yScale3(d.month[ll]);
            })
            .on("mouseover", function(d){
                tooltip.transition()
                    .style("opacity", .9);

                tooltip.html("Profit ($): " + d.month[ll])
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY) + "px");

                d3.select(this).style("fill", "blue");
            })
            .on("mouseout", function(){
                d3.select(this).style("fill", "#f0f8ff");

                tooltip.transition()
                    .style("opacity", 0);

        sampleSVG.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height + 16)
            .text("Year");
            });

        sampleSVG.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(-25," + height + ")")
            .call(xAxis);

        }

    var myDjangoList = (("{{stuff |safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
            return {
                l   : '<',
                g   : '>',
                quo : '"'
            }[b];
        }));

myDjangoList = myDjangoList.replace(/u'/g, '\'')
myDjangoList = myDjangoList.replace(/'/g, '\"')

var myData = JSON.parse( myDjangoList );
    graphs(800, 1000, 0, 1, 2, 3, myData);
    //WHEN YOU GRAPH IT, GREEN IS AVERAGE TONS per farm per year, pink?? is average percipitation in inches per month per year
    //and then red is average temp in degrees faraneheit
    //if you want to put up a key lmk.  


    </script>
    </div>

</body>
</html>